<script src="~/js/about.js"></script>

<section class="resume-section p-3 p-lg-5 d-flex d-column">
    <div class="my-auto">
        <h1 class="mb-0">
            Sérgio
            <span class="text-primary">Bueno</span>
        </h1>
        <div class="subheading mb-5">
            Senior Software Engineer
        </div>
        <p class="mb-3">I am a Brazilian Software Engineer with 8+ years of experience, and currently, I am living in Malta.</p>
        <p class="mb-3">Since 2014 I have been working with big clients around the world, with multidisciplinary and multicultural teams, and oriented by Agile methodologies.</p>
        <p class="mb-3">I am capable to drive throughout the entire software life cycle, from requirement analysis to production support, including coding standards, code reviews, source control management, build processes, testing, deploying, and managing distributed applications on popular cloud vendors’ platforms.</p>
        <p class="mb-3">My main characteristics are problem-solving, teamwork, proven leadership, creativity, and flexibility.</p>
        <p class="mb-3">I am a big fan of the community concept, and for that reason, this application is totally open-source, you can access the <span class="text-primary">source code</span> option and check it out.</p>
    </div>
</section>
