<section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
    <div class="my-auto">
        <h1 class="mb-0">
            Sérgio
            <span class="text-primary">Bueno</span>
        </h1>
        <div class="subheading mb-5">
            Senior Software Engineer
        </div>
        <p class="mb-5">I was graduated in computer engineering at the Pontifical Catholic University of Campinas. However, since 2014 I've been working as a software engineer. During these 5+ years, I've been working with clients around the world, sharpening my soft skills such as effective communication and problem-solving.</p>
    </div>
</section>
