<section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
    <div class="my-auto">
        <h1 class="mb-0">
            Sérgio
            <span class="text-primary">Bueno</span>
        </h1>
        <div class="subheading mb-5">
            Senior Software Engineer
        </div>
        <p class="mb-5">I was graduated in computer engineering at the Pontifical Catholic University of Campinas. However, since 2014 I've been working as a software engineer. During these 5+ years, I've been working with clients around the world, sharpening my soft skills such as effective communication and problem-solving.</p>
        <ul class="list-inline list-social-icons mb-0">
            <li class="list-inline-item">
                <a href="https://www.facebook.com/sergio.dacostabueno" target="_blank">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
            </li>
            <li class="list-inline-item">
                <a href="https://www.linkedin.com/in/s%C3%A9rgio-da-costa-bueno-49a8ba13a/" target="_blank">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
            </li>
            <li class="list-inline-item">
                <a href="https://bitbucket.org/sergiocbueno" target="_blank">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-bitbucket fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
            </li>
        </ul>
    </div>
</section>
