<section class="resume-section p-3 p-lg-5 d-flex flex-column">
    <div class="my-auto">
        <h2 class="mb-5">Education</h2>

        <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
                <h3 class="mb-0">Pontifical Catholic University of Campinas</h3>
                <div class="subheading mb-3">Bachelor's degree, Computer Engineering</div>
            </div>
            <div class="resume-date text-md-right">
                <span class="text-primary">Jan 2011 - Jun 2017</span>
            </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row">
            <div class="resume-content mr-auto">
                <h3 class="mb-0">Visconde de Porto Seguro</h3>
                <div class="subheading mb-3">High School</div>
            </div>
            <div class="resume-date text-md-right">
                <span class="text-primary">Jan 2008 - Dez 2010</span>
            </div>
        </div>

        <h3 class="mt-5 mb-3">Languages</h3>
        <div class="progress mb-3">
            <div class="progress-bar" role="progressbar" style="width:100%;background-color:#BD5D38;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                <p class="mb-0 text-uppercase">Portuguese</p>
            </div>
        </div>
        <div class="progress mb-3">
            <div class="progress-bar" role="progressbar" style="width:90%;background-color:#BD5D38;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                <p class="mb-0 text-uppercase">English</p>
            </div>
        </div>
        <div class="progress mb-3">
            <div class="progress-bar" role="progressbar" style="width:40%;background-color:#BD5D38;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">
                <p class="mb-0 text-uppercase">Spanish</p>
            </div>
        </div>
        <div class="progress mb-3">
            <div class="progress-bar" role="progressbar" style="width:20%;background-color:#BD5D38;" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                <p class="mb-0 text-uppercase">German</p>
            </div>
        </div>
    </div>
</section>