<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="experience">
    <div class="my-auto">
        <h2 class="mb-5">Experience</h2>

        <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
                <h3 class="mb-0">Software Development Executive</h3>
                <div class="subheading mb-3">Bit8</div>
                <ul>
                    <li>Developing an object-oriented and multi-tier web application for an iGaming platform (casino, sports bets, poker, payments, and other industry related products).</li>
                    <li>Working with international teams in a multicultural and challenging environment, dealing with continuous delivery using Scrum/Agile.</li>
                    <li>Continuous integration with Bamboo.</li>
                    <li>Provide technical analysis for software development.</li>
                    <li>Full-stack developer (Backend in .NET and Frontend in PHP).</li>
                    <li>Unit tests and automation tests (Selenium with Specflow).</li>
                    <li>Supporting the production environment as a focal point support analyst for level 3 issues including incident troubleshooting.</li>
                    <li>Code reviews and coding standards definition.</li>
                    <li>Using Atlassian Jira Software as issues tracking product.</li>
                    <li>Using Gitlab as version control.</li>
                </ul>
            </div>
            <div class="resume-date text-md-right">
                <span class="text-primary">April 2019 ~ Present</span>
            </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
                <h3 class="mb-0">Software Engineer</h3>
                <div class="subheading mb-3">CI&amp;T</div>

                <p>Global Coca-Cola Project., Atlanta, GA, U.S. (May/2018 ~ March/2019).</p>
                <ul>
                    <li>Developed an object-oriented and multi-tier web application, with AEM (Java8) using Scrum/Agile.</li>
                    <li>Migrated AEM 6.3 to AEM 6.4.</li>
                    <li>Developed lambda services on Amazon services with NodeJS.</li>
                    <li>Continuous integration with Jenkins.</li>
                    <li>Provide technical analysis for software development.</li>
                    <li>Full-stack developer (Backend with Java 8 and Frontend in Angular).</li>
                    <li>Unit tests and automation tests (Behat).</li>
                    <li>Supported the production environment as a focal point support analyst for level 3 issues including incident troubleshooting.</li>
                    <li>Code reviews and coding standards definition.</li>
                    <li>Used Atlassian Jira Software as issues tracking product.</li>
                    <li>Used Git with Bitbucket as version control.</li>
                </ul>

                <p>Modular Mining Inc. Project, Tucson, AZ, U.S. (May/2017 ~ May/2018).</p>
                <ul>
                    <li>Developed an object-oriented .NET embedded and desktop software for the mining industry</li>
                    <li>Worked with US teams in a multicultural and challenging environment using Scrum/Agile.</li>
                    <li>Code coverage with Unit tests and automation tests using Specflow.</li>
                    <li>Code reviews and coding standards definition.</li>
                    <li>Supported the production environment as a focal point support analyst for level 3 issues including incident troubleshooting.</li>
                    <li>Frontend and Backend development (Full-stack).</li>
                    <li>Using Team Foundation Server as issues tracking product.</li>
                    <li>Using Team Foundation Version Control (TFVC).</li>
                </ul>

                <p>Coca-Cola Brazil Project, Rio de Janeiro, RJ, BR (Feb/2016 ~ May/2017).</p>
                <ul>
                    <li>Developed an object-oriented and multi-tier web application, with ASP.NET WebApi and WCF.</li>
                    <li>Responsible for a report solution using Microsoft SQL Server Reporting Services.</li>
                    <li>Continuous integration using Amazon services and Jenkins.</li>
                    <li>Provide technical analysis for software development.</li>
                    <li>Only Backend development, integrating with an Angular Frontend solution.</li>
                    <li>Technical and business refactoring in the code.</li>
                    <li>Unit tests and integration tests.</li>
                    <li>Supported the production environment as a focal point support analyst for level 3 issues including incident troubleshooting.</li>
                    <li>Code reviews and coding standards definition.</li>
                    <li>Used Atlassian Jira Software as issues tracking product.</li>
                    <li>Used Git with Bitbucket as version control.</li>
                </ul>

                <p>TransCanada Project, Houston, TX, U.S. (Feb/2014 ~ Feb/2016).</p>
                <ul>
                    <li>Worked with US teams in a multicultural and challenging environment, dealing with continuous delivery and tight deadlines using Scrum/Agile.</li>
                    <li>Developed an object-oriented and multi-tier web application, with ASP.NET MVC - Razor.</li>
                    <li>Frontend and Backend development (Full-stack).</li>
                    <li>Integration tests using Specflow and Unit tests.</li>
                    <li>Performance tests using JMeter and toxicity analysis.</li>
                    <li>Code reviews and coding standards definition.</li>
                    <li>Used Atlassian Jira Software as issues tracking product.</li>
                    <li>Used Git with Bitbucket as version control.</li>
                </ul>
            </div>
            <div class="resume-date text-md-right">
                <span class="text-primary">February 2014 ~ March 2019</span>
            </div>
        </div>

    </div>

</section>
