<section class="resume-section p-3 p-lg-5 d-flex flex-column">
    <div class="my-auto">
        <h2 class="mb-5">Experience</h2>

        <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content w-100 mr-auto">
                <h3 class="mb-0">Cyklpoint Ltd.</h3>
                <div class="resume-date text-md-right mb-3">
                    <span class="text-primary">October 2020 ~ Present</span>
                </div>

                <div class="subheading mb-3">Lead Software Engineer</div>
                <p style="text-align:justify;">I have been working mainly as a backend developer in a multicultural team with a challenging context for a waste industry company. We have been developing an innovative waste cycle management digital platform.</p>
                <p>Main stack:</p>
                <ul>
                    <li>ASP.NET Core</li>
                    <li>Consul</li>
                    <li>MongoDB</li>
                    <li>MySQL</li>
                    <li>Redis</li>
                    <li>Docker</li>
                    <li>SignalR</li>
                    <li>Git</li>
                    <li>Github</li>
                    <li>Atlassian Jira</li>
                </ul>
            </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content w-100 mr-auto">
                <h3 class="mb-0">Bit8 Ltd.</h3>
                <div class="resume-date text-md-right mb-3">
                    <span class="text-primary">April 2019 ~ October 2020</span>
                </div>
                <div class="subheading mb-3">Development Team Lead (Jan/2020 ~ Oct/2020)</div>
                <p style="text-align:justify;">I had been guiding development team efforts towards successful project delivery, always trying to maintain high standards of software quality by establishing good practices and habits. Collaborating with other software developers and business analysts to plan, design, develop, test, and maintain the platform. Assisting in the development of user stories, estimates, and work plans. Also focusing on the packages and support them through the deployment of releases.</p>

                <div class="subheading mb-3">Software Development Executive (Apr/2019 ~ Jan/2020)</div>
                <p style="text-align:justify;">I have worked as a full-stack developer with multicultural teams in a challenging environment, dealing with continuous integration and tight deadlines using scrum methodology. Developing and giving support to an object-oriented and multi-tier web application for an iGaming platform (casino, sports bets, poker, payments, and other industry related products), including test coverages, code reviews, and technical analysis.</p>
                <p>Main stack:</p>
                <ul>
                    <li>ASP.NET</li>
                    <li>MySQL</li>
                    <li>PHP</li>
                    <li>Javascript</li>
                    <li>HTML5</li>
                    <li>CSS3</li>
                    <li>Bamboo</li>
                    <li>Selenium</li>
                    <li>Specflow</li>
                    <li>Git</li>
                    <li>Gitlab</li>
                    <li>Atlassian Jira</li>
                </ul>
            </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content w-100 mr-auto">
                <h3 class="mb-0">CI&amp;T Software S/A</h3>
                <div class="resume-date text-md-right mb-3">
                    <span class="text-primary">February 2014 ~ March 2019</span>
                </div>

                <div class="subheading mb-3">Software Engineer</div>
                <p><strong>Global Coca-Cola Project., Atlanta, GA, U.S. (May/2018 ~ March/2019).</strong></p>
                <p style="text-align:justify;">I have worked as a full-stack developer with a US team in a multicultural and challenging environment for a beverage industry multinational, dealing with continuous integration and tight deadlines using scrum methodology. Developing and giving support to a web application, including test coverages, code reviews, and technical analysis.</p>
                <p>Main stack:</p>
                <ul>
                    <li>AEM (6.3 and 6.4)</li>
                    <li>Java 8</li>
                    <li>AWS</li>
                    <li>Javascript</li>
                    <li>NodeJS</li>
                    <li>Google Cloud Platform</li>
                    <li>Jenkins</li>
                    <li>Angular</li>
                    <li>Behat</li>
                    <li>Git</li>
                    <li>Bitbucket</li>
                    <li>Atlassian Jira</li>
                </ul>

                <p><strong>Modular Mining Inc. Project, Tucson, AZ, U.S. (May/2017 ~ May/2018).</strong></p>
                <p style="text-align:justify;">I have worked as a full-stack developer with a US team in a multicultural environment using scrum methodology. Developing and giving support to many object-oriented and multi-tier desktop and embedded applications for a mining industry multinational, including many types of test coverages, code reviews, and technical analysis.</p>
                <p>Main stack:</p>
                <ul>
                    <li>.NET embedded and desktop</li>
                    <li>Microsoft SQL Server</li>
                    <li>Specflow</li>
                    <li>Team Foundation Server</li>
                    <li>Team Foundation Version Control</li>
                </ul>

                <div class="subheading mb-3">Junior Software Engineer</div>
                <p><strong>Coca-Cola Brazil Project, Rio de Janeiro, RJ, BR (Feb/2016 ~ May/2017).</strong></p>
                <p style="text-align:justify;">I have worked as a backend developer with Brazilian teams in challenging environments for a beverage industry multinational, dealing with continuous integration and tight deadlines using scrum methodology. Developing an object-oriented backend to an Angular web application, including backend test coverages, code reviews, and technical analysis. During a period in this project, I was completely responsible for the report solution and the report team.</p>
                <p>Main stack:</p>
                <ul>
                    <li>ASP.NET WCF</li>
                    <li>ASP.NET WebApi</li>
                    <li>Microsoft SQL Server</li>
                    <li>Microsoft Reporting Services</li>
                    <li>Jenkins</li>
                    <li>AWS</li>
                    <li>Git</li>
                    <li>Bitbucket</li>
                    <li>Atlassian Jira</li>
                </ul>

                <div class="subheading mb-3">Intern Software Engineer</div>
                <p><strong>TransCanada Project, Houston, TX, U.S. (Feb/2014 ~ Feb/2016).</strong></p>
                <p style="text-align:justify;">I have worked as a full-stack developer with US teams in a multicultural and challenging environment, dealing with continuous delivery and tight deadlines using scrum methodology. Developing an object-oriented and multi-tier web application for a gas industry multinational, including many types of test coverages, code reviews, and toxicity analysis.</p>
                <p>Main stack:</p>
                <ul>
                    <li>ASP.NET MVC</li>
                    <li>Razor</li>
                    <li>Microsoft SQL Server</li>
                    <li>Javascript</li>
                    <li>HTML5</li>
                    <li>CSS3</li>
                    <li>Git</li>
                    <li>Bitbucket</li>
                    <li>Atlassian Jira</li>
                    <li>Specflow</li>
                    <li>JMeter</li>
                </ul>
            </div>
        </div>

    </div>

</section>
