<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<environment include="Development">
    <script src="~/js/mappingAccess.js"></script>
    <link href="~/css/loading.css" rel="stylesheet">
</environment>
<environment exclude="Development">
    <script src="~/js/mappingAccess.min.js"></script>
    <link href="~/css/loading.min.css" rel="stylesheet">
</environment>

<div id="loading" class="loading-style"></div>
<section class="resume-section p-3 p-lg-5 d-flex d-column" style="border-bottom: none;">
    <div id="mapping" class="my-auto" style="display:none;">
        <h2 class="mb-5">Accesses Map</h2>
        <p class="mb-3">Welcome to this secret page! Well done finding it!</p>
        <p class="mb-3">On this page you can see all accesses around the world into this portfolio.</p>
        <p class="mb-3">You can try to find yourself in the map!</p>
        <div class="chart-container">
            <div id="loading_google_maps" class="loading-maps">Loading Google Maps...</div>
            <div id="chart_div"></div>
        </div>
        <p class="mb-3">We are using your external IP Address to locate you.</p>
        <p class="mb-3">So if you disagree with your location, report to your internet provider or turn off the VPN! Haha</p>
    </div>
</section>
