<section class="resume-section p-3 p-lg-5 d-flex flex-column">
    <div class="my-auto">
        <h2 class="mb-5">Skills</h2>

        <div class="subheading mb-3">Programming Languages &amp; Frameworks</div>
        <ul class="list-inline list-icons">
            <li class="list-inline-item">
                <i class="devicons devicons-dotnet" title=".NET"></i>
            </li>
            <li class="list-inline-item">
                <i class="devicons devicons-java" title="Java"></i>
            </li>
            <li class="list-inline-item">
                <i class="devicons devicons-javascript" title="Javascript"></i>
            </li>
            <li class="list-inline-item">
                <i class="devicons devicons-php" title="PHP"></i>
            </li>
            <li class="list-inline-item">
                <i class="devicons devicons-jquery" title="Jquery"></i>
            </li>
            <li class="list-inline-item">
                <i class="devicons devicons-nodejs" title="NodeJS"></i>
            </li>
            <li class="list-inline-item">
                <i class="devicons devicons-bootstrap" title="Bootstrap"></i>
            </li>
            <li class="list-inline-item">
                <i class="devicons devicons-angular" title="Angular"></i>
            </li>
            <li class="list-inline-item">
                <i class="devicons devicons-sass" title="SASS"></i>
            </li>
            <li class="list-inline-item">
                <i class="devicons devicons-css3" title="CSS3"></i>
            </li>
            <li class="list-inline-item">
                <i class="devicons devicons-html5" title="HTML5"></i>
            </li>
            <li class="list-inline-item">
                <i class="devicons devicons-npm" title="npm"></i>
            </li>
            <li class="list-inline-item">
                <i class="devicons devicons-grunt" title="Grunt"></i>
            </li>
            <li class="list-inline-item">
                <i class="devicons devicons-bower" title="Bower"></i>
            </li>
            <li class="list-inline-item">
                <i class="devicons devicons-gulp" title="Gulp"></i>
            </li>
            <li class="list-inline-item">
                <i class="devicons devicons-react" title="React"></i>
            </li>
        </ul>

        <div class="subheading mb-3">Database</div>
        <ul class="list-inline list-icons">
            <li class="list-inline-item">
                <i class="devicons devicons-msql_server" title="Microsoft SQL Server"></i>
            </li>
            <li class="list-inline-item">
                <i class="devicons devicons-mysql" title="MySql"></i>
            </li>
            <li class="list-inline-item">
                <i class="devicons devicons-mongodb" title="MongoDB"></i>
            </li>
            <li class="list-inline-item">
                <i class="devicons devicons-redis" title="Redis"></i>
            </li>
        </ul>

        <div class="subheading mb-3">Source Control</div>
        <ul class="list-inline list-icons">
            <li class="list-inline-item">
                <i class="devicons devicons-git" title="Git"></i>
            </li>
            <li class="list-inline-item">
                <i class="devicons devicons-bitbucket" title="Bitbucket"></i>
            </li>
            <li class="list-inline-item">
                <i class="devicons devicons-github" title="Github"></i>
            </li>
        </ul>

        <div class="subheading mb-3">CI/CD</div>
        <ul class="list-inline list-icons">
            <li class="list-inline-item">
                <i class="devicons devicons-jenkins" title="Jenkins"></i>
            </li>
            <li class="list-inline-item">
                <i class="devicons devicons-docker" title="Docker"></i>
            </li>
        </ul>

        <div class="subheading mb-3">Cloud Platform</div>
        <ul class="list-inline list-icons">
            <li class="list-inline-item">
                <i class="devicons devicons-aws" title="AWS"></i>
            </li>
            <li class="list-inline-item">
                <i class="devicons devicons-google-cloud-platform" title="Google Cloud Platform"></i>
            </li>
            <li class="list-inline-item">
                <i class="devicons devicons-heroku" title="Heroku"></i>
            </li>
        </ul>

        <div class="subheading mb-3">Issue Tracking</div>
        <ul class="list-inline list-icons">
            <li class="list-inline-item">
                <i class="devicons devicons-trello" title="Trello"></i>
            </li>
            <li class="list-inline-item">
                <i class="devicons devicons-jira" title="Jira"></i>
            </li>
        </ul>

        <div class="subheading mb-3">Development Environment</div>
        <ul class="list-inline list-icons">
            <li class="list-inline-item">
                <i class="devicons devicons-windows" title="Windows"></i>
            </li>
            <li class="list-inline-item">
                <i class="devicons devicons-linux" title="Linux"></i>
            </li>
        </ul>
    </div>
</section>