<section class="resume-section p-3 p-lg-5 d-flex flex-column">
    <div class="my-auto">
        <h2 class="mb-3">Skills</h2>
        <p class="mb-5">Click over the icons for more details.</p>

        <div class="subheading mb-3">Programming Languages</div>
        <ul class="list-inline list-icons">
            <li class="list-inline-item">
                <i class="devicons devicons-dotnet" title=".Net &amp; .Net Core Framework" data-toggle="collapse" href="#collapseDotnet" aria-expanded="false" aria-controls="collapseDotnet"></i>
                <div class="collapse" id="collapseDotnet">
                    <div class="card card-body">
                        <h6 class="mb-0">.Net &amp; .Net Core Framework</h6>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width:90%;background-color:#BD5D38;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="list-inline-item">
                <i class="devicons devicons-java" title="Java Language" data-toggle="collapse" href="#collapseJava" aria-expanded="false" aria-controls="collapseJava"></i>
                <div class="collapse" id="collapseJava">
                    <div class="card card-body">
                        <h6 class="mb-0">Java Language</h6>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width:25%;background-color:#BD5D38;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="list-inline-item">
                <i class="devicons devicons-python" title="Python Language" data-toggle="collapse" href="#collapsePython" aria-expanded="false" aria-controls="collapsePython"></i>
                <div class="collapse" id="collapsePython">
                    <div class="card card-body">
                        <h6 class="mb-0">Python Language</h6>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width:50%;background-color:#BD5D38;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="list-inline-item">
                <i class="devicons devicons-javascript" title="Javascript Language" data-toggle="collapse" href="#collapseJavascript" aria-expanded="false" aria-controls="collapseJavascript"></i>
                <div class="collapse" id="collapseJavascript">
                    <div class="card card-body">
                        <h6 class="mb-0">Javascript Language</h6>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width:60%;background-color:#BD5D38;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="list-inline-item">
                <i class="devicons devicons-rust" title="Rust Language" data-toggle="collapse" href="#collapseRust" aria-expanded="false" aria-controls="collapseRust"></i>
                <div class="collapse" id="collapseRust">
                    <div class="card card-body">
                        <h6 class="mb-0">Rust Language</h6>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width:40%;background-color:#BD5D38;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="list-inline-item">
                <i class="devicons devicons-php" title="PHP Language" data-toggle="collapse" href="#collapsePHP" aria-expanded="false" aria-controls="collapsePHP"></i>
                <div class="collapse" id="collapsePHP">
                    <div class="card card-body">
                        <h6 class="mb-0">PHP Language</h6>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width:10%;background-color:#BD5D38;" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="list-inline-item">
                <i class="devicons devicons-css3" title="Css3 Language" data-toggle="collapse" href="#collapseCss3" aria-expanded="false" aria-controls="collapseCss3"></i>
                <div class="collapse" id="collapseCss3">
                    <div class="card card-body">
                        <h6 class="mb-0">Css3 Language</h6>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width:90%;background-color:#BD5D38;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="list-inline-item">
                <i class="devicons devicons-html5" title="Html5 Language" data-toggle="collapse" href="#collapseHtml5" aria-expanded="false" aria-controls="collapseHtml5"></i>
                <div class="collapse" id="collapseHtml5">
                    <div class="card card-body">
                        <h6 class="mb-0">Html5 Language</h6>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width:90%;background-color:#BD5D38;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>

        <div class="subheading mb-3">Databases</div>
        <ul class="list-inline list-icons">
            <li class="list-inline-item">
                <i class="devicons devicons-msql_server" title="Microsoft SQL" data-toggle="collapse" href="#collapseMSQL" aria-expanded="false" aria-controls="collapseMSQL"></i>
                <div class="collapse" id="collapseMSQL">
                    <div class="card card-body">
                        <h6 class="mb-0">Microsoft SQL</h6>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width:60%;background-color:#BD5D38;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="list-inline-item">
                <i class="devicons devicons-mysql" title="Oracle MySql" data-toggle="collapse" href="#collapseMySql" aria-expanded="false" aria-controls="collapseMySql"></i>
                <div class="collapse" id="collapseMySql">
                    <div class="card card-body">
                        <h6 class="mb-0">Oracle MySql</h6>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width:70%;background-color:#BD5D38;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="list-inline-item">
                <i class="devicons devicons-mongodb" title="MongoDB" data-toggle="collapse" href="#collapseMongoDB" aria-expanded="false" aria-controls="collapseMongoDB"></i>
                <div class="collapse" id="collapseMongoDB">
                    <div class="card card-body">
                        <h6 class="mb-0">MongoDB</h6>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width:60%;background-color:#BD5D38;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="list-inline-item">
                <i class="devicons devicons-redis" title="Redis" data-toggle="collapse" href="#collapseRedis" aria-expanded="false" aria-controls="collapseRedis"></i>
                <div class="collapse" id="collapseRedis">
                    <div class="card card-body">
                        <h6 class="mb-0">Redis</h6>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width:40%;background-color:#BD5D38;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="list-inline-item">
                <i class="devicons devicons-postgresql" title="PostgreSQL" data-toggle="collapse" href="#collapsePostgreSQL" aria-expanded="false" aria-controls="collapsePostgreSQL"></i>
                <div class="collapse" id="collapsePostgreSQL">
                    <div class="card card-body">
                        <h6 class="mb-0">PostgreSQL</h6>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width:40%;background-color:#BD5D38;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>

        <div class="subheading mb-3">Source &amp; Version Controls</div>
        <ul class="list-inline list-icons">
            <li class="list-inline-item">
                <i class="devicons devicons-git" title="Git Controls" data-toggle="collapse" href="#collapseGit" aria-expanded="false" aria-controls="collapseGit"></i>
                <div class="collapse" id="collapseGit">
                    <div class="card card-body">
                        <h6 class="mb-0">Git Controls</h6>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width:95%;background-color:#BD5D38;" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="list-inline-item">
                <i class="devicons devicons-bitbucket" title="Bitbucket" data-toggle="collapse" href="#collapseBitbucket" aria-expanded="false" aria-controls="collapseBitbucket"></i>
                <div class="collapse" id="collapseBitbucket">
                    <div class="card card-body">
                        <h6 class="mb-0">Bitbucket</h6>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width:80%;background-color:#BD5D38;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="list-inline-item">
                <i class="devicons devicons-github" title="Github" data-toggle="collapse" href="#collapseGithub" aria-expanded="false" aria-controls="collapseGithub"></i>
                <div class="collapse" id="collapseGithub">
                    <div class="card card-body">
                        <h6 class="mb-0">Github</h6>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width:80%;background-color:#BD5D38;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="list-inline-item">
                <i class="devicons devicons-npm" title="Npm Manager" data-toggle="collapse" href="#collapseNpm" aria-expanded="false" aria-controls="collapseNpm"></i>
                <div class="collapse" id="collapseNpm">
                    <div class="card card-body">
                        <h6 class="mb-0">Npm Manager</h6>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width:80%;background-color:#BD5D38;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>

        <div class="subheading mb-3">Continuous integration &amp; deployment</div>
        <ul class="list-inline list-icons">
            <li class="list-inline-item">
                <i class="devicons devicons-jenkins" title="Jenkins" data-toggle="collapse" href="#collapseJenkins" aria-expanded="false" aria-controls="collapseJenkins"></i>
                <div class="collapse" id="collapseJenkins">
                    <div class="card card-body">
                        <h6 class="mb-0">Jenkins</h6>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width:30%;background-color:#BD5D38;" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="list-inline-item">
                <i class="devicons devicons-docker" title="Docker Containers" data-toggle="collapse" href="#collapseDocker" aria-expanded="false" aria-controls="collapseDocker"></i>
                <div class="collapse" id="collapseDocker">
                    <div class="card card-body">
                        <h6 class="mb-0">Docker Containers</h6>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width:70%;background-color:#BD5D38;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>

        <div class="subheading mb-3">Cloud Platforms</div>
        <ul class="list-inline list-icons">
            <li class="list-inline-item">
                <i class="devicons devicons-aws" title="Amazon Web Services" data-toggle="collapse" href="#collapseAWS" aria-expanded="false" aria-controls="collapseAWS"></i>
                <div class="collapse" id="collapseAWS">
                    <div class="card card-body">
                        <h6 class="mb-0">Amazon Web Services</h6>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width:60%;background-color:#BD5D38;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="list-inline-item">
                <i class="devicons devicons-google-cloud-platform" title="Google Cloud Platform" data-toggle="collapse" href="#collapseGCP" aria-expanded="false" aria-controls="collapseGCP"></i>
                <div class="collapse" id="collapseGCP">
                    <div class="card card-body">
                        <h6 class="mb-0">Google Cloud Platform</h6>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width:60%;background-color:#BD5D38;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="list-inline-item">
                <i class="devicons devicons-heroku" title="Heroku Platform" data-toggle="collapse" href="#collapseHeroku" aria-expanded="false" aria-controls="collapseHeroku"></i>
                <div class="collapse" id="collapseHeroku">
                    <div class="card card-body">
                        <h6 class="mb-0">Heroku Platform</h6>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width:70%;background-color:#BD5D38;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>

        <div class="subheading mb-3">Project Management Tools</div>
        <ul class="list-inline list-icons">
            <li class="list-inline-item">
                <i class="devicons devicons-trello" title="Trello Management" data-toggle="collapse" href="#collapseTrello" aria-expanded="false" aria-controls="collapseTrello"></i>
                <div class="collapse" id="collapseTrello">
                    <div class="card card-body">
                        <h6 class="mb-0">Trello Management</h6>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width:40%;background-color:#BD5D38;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="list-inline-item">
                <i class="devicons devicons-jira" title="Atlassian Jira" data-toggle="collapse" href="#collapseJira" aria-expanded="false" aria-controls="collapseJira"></i>
                <div class="collapse" id="collapseJira">
                    <div class="card card-body">
                        <h6 class="mb-0">Atlassian Jira</h6>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width:80%;background-color:#BD5D38;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>

        <div class="subheading mb-3">Development Environments</div>
        <ul class="list-inline list-icons">
            <li class="list-inline-item">
                <i class="devicons devicons-windows" title="Microsoft Windows" data-toggle="collapse" href="#collapseWindows" aria-expanded="false" aria-controls="collapseWindows"></i>
                <div class="collapse" id="collapseWindows">
                    <div class="card card-body">
                        <h6 class="mb-0">Microsoft Windows</h6>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width:90%;background-color:#BD5D38;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="list-inline-item">
                <i class="devicons devicons-linux" title="Linux Distributions" data-toggle="collapse" href="#collapseLinux" aria-expanded="false" aria-controls="collapseLinux"></i>
                <div class="collapse" id="collapseLinux">
                    <div class="card card-body">
                        <h6 class="mb-0">Linux Distributions</h6>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width:70%;background-color:#BD5D38;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>