<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="skills">
    <div class="my-auto">
        <h2 class="mb-5">Skills</h2>

        <div class="subheading mb-3">Programming Languages</div>
        <ul class="list-inline list-icons">
            <li class="list-inline-item">
                <i class="devicons devicons-git"></i>
            </li>
            <li class="list-inline-item">
                <i class="devicons devicons-bitbucket"></i>
            </li>
            <li class="list-inline-item">
                <i class="devicons devicons-github"></i>
            </li>
            <li class="list-inline-item">
                <i class="devicons devicons-java"></i>
            </li>
            <li class="list-inline-item">
                <i class="devicons devicons-php"></i>
            </li>
            <li class="list-inline-item">
                <i class="devicons devicons-mysql"></i>
            </li>
            <li class="list-inline-item">
                <i class="devicons devicons-javascript"></i>
            </li>
            <li class="list-inline-item">
                <i class="devicons devicons-jquery"></i>
            </li>
            <li class="list-inline-item">
                <i class="devicons devicons-dojo"></i>
            </li>
            <li class="list-inline-item">
                <i class="devicons devicons-nodejs"></i>
            </li>
            <li class="list-inline-item">
                <i class="devicons devicons-bootstrap"></i>
            </li>
            <li class="list-inline-item">
                <i class="devicons devicons-angular"></i>
            </li>
            <li class="list-inline-item">
                <i class="devicons devicons-sass"></i>
            </li>
            <li class="list-inline-item">
                <i class="devicons devicons-css3"></i>
            </li>
            <li class="list-inline-item">
                <i class="devicons devicons-html5"></i>
            </li>
            <li class="list-inline-item">
                <i class="devicons devicons-npm"></i>
            </li>
            <li class="list-inline-item">
                <i class="devicons devicons-grunt"></i>
            </li>
            <li class="list-inline-item">
                <i class="devicons devicons-bower"></i>
            </li>
            <li class="list-inline-item">
                <i class="devicons devicons-windows"></i>
            </li>
            <li class="list-inline-item">
                <i class="devicons devicons-linux"></i>
            </li>
            <li class="list-inline-item">
                <i class="devicons devicons-google_drive"></i>
            </li>
            <li class="list-inline-item">
                <i class="devicons devicons-visualstudio"></i>
            </li>
            <li class="list-inline-item">
                <i class="devicons devicons-trello"></i>
            </li>
            <li class="list-inline-item">
                <i class="devicons devicons-jira"></i>
            </li>
            <li class="list-inline-item">
                <i class="devicons devicons-gulp"></i>
            </li>
            <li class="list-inline-item">
                <i class="devicons devicons-jenkins"></i>
            </li>
            <li class="list-inline-item">
                <i class="devicons devicons-heroku"></i>
            </li>
            <li class="list-inline-item">
                <i class="devicons devicons-dotnet"></i>
            </li>
            <li class="list-inline-item">
                <i class="devicons devicons-yii"></i>
            </li>
            <li class="list-inline-item">
                <i class="devicons devicons-msql_server"></i>
            </li>
            <li class="list-inline-item">
                <i class="devicons devicons-aws"></i>
            </li>
            <li class="list-inline-item">
                <i class="devicons devicons-docker"></i>
            </li>
            <li class="list-inline-item">
                <i class="devicons devicons-google-cloud-platform"></i>
            </li>
        </ul>

        <div class="subheading mb-3">Workflow</div>
        <ul class="fa-ul mb-0">
            <li>
                <i class="fa-li fa fa-check"></i>
                Agile Development &amp; Scrum
            </li>
        </ul>
    </div>
</section>