﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="This is the portfolio of Sergio Bueno">
    <meta name="author" content="Sergio Bueno">
    <title>Sergio Bueno - Portfolio</title>

    <environment include="Development">
        <link href="~/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
        <link href="~/vendor/font-awesome/css/font-awesome.css" rel="stylesheet">
        <link href="~/vendor/devicons/css/devicons.css" rel="stylesheet">
        <link href="~/css/resume.css" rel="stylesheet">
    </environment>
    <environment exclude="Development">
        <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="~/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
        <link href="~/vendor/devicons/css/devicons.min.css" rel="stylesheet">
        <link href="~/css/resume.min.css" rel="stylesheet">
    </environment>
    <link href="~/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
            <div class="d-block d-lg-none">
                <a href="mailto:sergiocbueno@gmail.com" target="_blank">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
                <a href="https://www.facebook.com/sergio.dacostabueno" target="_blank">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
                <a href="https://www.linkedin.com/in/s%C3%A9rgio-da-costa-bueno-49a8ba13a/" target="_blank">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
                <a href="https://bitbucket.org/sergiocbueno" target="_blank">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-bitbucket fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
            </div>
            <div class="navbar-brand js-scroll-trigger">
                <span class="d-none d-lg-block">
                    <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="~/img/profile.jpg" alt="">
                </span>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item" id="about_page">
                        <a class="nav-link js-scroll-trigger" asp-area="" asp-controller="Home" asp-action="About">About</a>
                    </li>
                    <li class="nav-item" id="experience_page">
                        <a class="nav-link js-scroll-trigger" asp-area="" asp-controller="Home" asp-action="Experience">Experience</a>
                    </li>
                    <li class="nav-item" id="education_page">
                        <a class="nav-link js-scroll-trigger" asp-area="" asp-controller="Home" asp-action="Education">Education</a>
                    </li>
                    <li class="nav-item" id="skills_page">
                        <a class="nav-link js-scroll-trigger" asp-area="" asp-controller="Home" asp-action="Skills">Skills</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="~/doc/SergioDaCostaBueno-CV.pdf" download="SergioDaCostaBueno-CV">Curriculum Vitae <i class="fa fa-download"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="https://bitbucket.org/sergiocbueno/myportfolio" target="_blank">Source Code <i class="fa fa-arrow-right"></i></a>
                    </li>
                </ul>
            </div>
            <div class="d-none d-lg-block">
                <p style="color:white;font-weight:bold;">KEEP IN TOUCH</p>
                <a href="mailto:sergiocbueno@gmail.com" target="_blank">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
                <a href="https://www.facebook.com/sergio.dacostabueno" target="_blank">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
                <a href="https://www.linkedin.com/in/s%C3%A9rgio-da-costa-bueno-49a8ba13a/" target="_blank">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
                <a href="https://bitbucket.org/sergiocbueno" target="_blank">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-bitbucket fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
            </div>
        </nav>
    </header>

    <div class="container-fluid p-0">
        @RenderBody()
    </div>

    <environment include="Development">
        <script src="~/vendor/jquery/jquery.js"></script>
        <script src="~/vendor/bootstrap/js/bootstrap.bundle.js"></script>
        <script src="~/vendor/jquery-easing/jquery.easing.js"></script>
        <script src="~/js/resume.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/vendor/jquery/jquery.min.js"></script>
        <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>
        <script src="~/js/resume.min.js"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
