<section class="resume-section p-3 p-lg-5 d-flex d-column">
    <div class="my-auto">
        <h2 class="mb-0">
            <span class="text-primary">Oops..!</span>
        </h2>
        <div class="subheading mb-5">
            @ViewBag.ErrorMessage
        </div>
        <div class="subheading mb-5">
            @if (ViewBag.ErrorCode != null && ViewBag.ErrorCode == 404)
            {
                <img src="~/img/not-found.gif" alt="Where it is?">
            }
            else
            {
                <img src="~/img/error-occurred.gif" alt="Ops!">
            }
        </div>
    </div>
</section>
